body{
    margin: 0;
    display: grid;
    grid-template-areas: "header"
                        "section1"
                        "section2"
                        "section3"
                        "footer";
    grid-template-rows: 57vh 35vh 40vh 52vh 6vh;
}

header{
    align-items: center;
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    grid-area: "header";
    height: 57vh;
    justify-content: center;
    
}

h1{
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 2.3rem;
}

header nav span{
    color: #3ccf7b;
}

h2{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

header nav{
    height: 36vh;
    width: 35vw;    
}

header nav button{
    background-color: black;
    border: none;
    border-radius: 24px;
    height: 45px;
    opacity: 0.5;
    text-align: center;
    width: 45px;
}

header nav button img{
    height: 20px;
    width: 20px;
}

header nav button:hover{
    background-color: #3ccf7b;
    opacity: 1.0;
}

.hand{
    height: 50vh;
    margin-top: auto;
    position: relative;
    right: -2vh;
    width: 25vw;
}

#firstSection{
    align-items: center;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    grid-area: "section1";
    justify-content: center;
}

#firstSection div{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#firstSection div p{
    font-size: 0.8rem;
    text-align: center;
    width: 26vw;
}

.features {
    background-color: #3ccf7b;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 49px;
}

.features img{
    height: 25px;
    width: 25px;
}

#secondSection{
    align-items: center;
    background-color: #c0bebe;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    grid-area: "section2";
    justify-content: space-evenly;
}

#secondSection div{
    margin-left: 3vw;
    
}

#secondSection div p{
    color: gray;
    font-size: 0.8rem;
    width: 30vw;
}

input{
    border-radius: 8px 0px 0px 8px;
    border: none;
    height: 35px;
    width: 210px;
}

#secondSection button{
    background-color: #3ccf7b;
    border: none;
    border-radius: 0px 8px 8px 0px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    height: 37px;
    text-align: center;
    width: 75px;
}

#secondSection input, button{
    float: left;
}

iframe{
    border-radius: 24px;
    height: 260px;
    margin-right: 3vw;
    width: 540px;
}


#thirdSection{
    font-family: 'Open Sans', sans-serif;
    grid-area: "section3";
}

#redesSociais{
    display: flex;
    flex-direction: row;
}

.redeSocial{
    background-color: #c0bebe;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
}

.redeSocial:hover{
    background-color: #3ccf7b;
    opacity: 1.0;
}

#thirdSection a img{
    width:15px;
}

footer{
    align-items: center;
    background-color: #c0bebe;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    flex-direction: row;
    grid-area: "footer";
    justify-content: center;    
}

footer div{
    display: flex;
    justify-content: space-evenly;
    width: 70vh;
}

footer a{
    color: gray;
    font-size: 0.7em;
    text-decoration: none;
}